
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  
  <!-- ***** Header Area End ***** -->
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>



<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>Mid<span>-Town</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a routerLink="/" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <div class="dropdown">
                <li class="scroll-to-section dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a>Services</a></li>
                <!-- <li class="scroll-to-section dropdown-toggle" type="button" >
                  Services
                </li> -->
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="lab">Laboratory</a>
                  <a class="dropdown-item" routerLink="gyna">gyae/obs Ultrasounds</a>
                  <a class="dropdown-item" routerLink="sti">Treatment of all Sexually transmitted disease</a>
                  <a class="dropdown-item" routerLink="hiv">HIV counseling and testing</a>
                  <a class="dropdown-item" routerLink="natal">Ante/post natal care</a>
                  <a class="dropdown-item" routerLink="Contraception">All Methods of Contraception (FP).Including BTL and Vasectomy</a>
                  <a class="dropdown-item" routerLink="circumcision">Voluntary Male Circumcision</a>
                  <a class="dropdown-item" routerLink="abortion">Post Abortion Care</a>
                  <a class="dropdown-item" routerLink="cancer">Cervical/Prostrate cancer screening</a>
                </div>
              </div>
              <li class="scroll-to-section"><a href="#contact">Message Us</a></li> 
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Contact Now</a></div></li> 
            </ul>        
            <!-- <a class='menu-trigger'>
                <span>Menu</span>
            </a> -->
            

            
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>

    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fa fa-bars"></i></label>
    <div class="wrapper">
      <ul>
        <li></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>

        <div class="dropdown" style="cursor:pointer;">
          <li class="scroll-to-section dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a>Services</a></li>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="lab">Laboratory</a>
            <a class="dropdown-item" routerLink="gyna">gyae/obs Ultrasounds</a>
            <a class="dropdown-item" routerLink="sti">Treatment of all Sexually transmitted disease</a>
            <a class="dropdown-item" routerLink="hiv">HIV counseling and testing</a>
            <a class="dropdown-item" routerLink="natal">Ante/post natal care</a>
            <a class="dropdown-item" routerLink="Contraception">All Methods of Contraception (FP).Including BTL and Vasectomy</a>
            <a class="dropdown-item" routerLink="circumcision">Voluntary Male Circumcision</a>
            <a class="dropdown-item" routerLink="abortion">Post Abortion Care</a>
            <a class="dropdown-item" routerLink="cancer">Cervical/Prostrate cancer screening</a>
          </div>
        </div>
        <!-- <li><a href="#">Services</a></li> -->
        <li><a href="#">Contacts</a></li>
        
      </ul>

  </div>
  </header>

 

