
 <header>
  <nav class=" my-nav navbar navbar-light navbar-expand-lg ">
    <div class="container">


    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Disabled</a>
        </li>
      </ul>
    </div>
</div>
  </nav>

  <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('assets/images/W10.jpeg')">
          <div class="centered">
            <h1 style="font-weight:900px;font-size:50px">Mid-Town <em style="color: #5ff300;"><br>Reproductive Health</em> &amp; <span style="color: #03a4ed;"><br>and</span> Youth Friendly <br> Clinic</h1>
            <br>
            <h4>This is a network of caring professionals in Kenya that delivers women’s wellness services</h4>
            <br>
            <mark style="font-size:20px">We Care For You !!!</mark>
          </div>
      </div>
        <div class="carousel-item " style="background-image: url('assets/images/W11.jpeg')">
          <div class="centered">
            <h1 style="font-weight:900px;font-size:50px">We are Committed in <br>Providing a positive and <br>empowering client experience </h1>

          </div>
      </div>
      <div class="carousel-item " style="background-image: url('assets/images/W9.jpeg')">
        <div class="centered">
          <h1 style="font-weight:900px;font-size:50px">You can talk to us:</h1>
            <br>
            <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Book An Appointment</a></div></li> 


        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</header>


  <section id="team" class="pb-5">
    <div class="container">
        <!-- <h5 class="section-title h1">OUR TEAM</h5> -->
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class=" img-fluid" src="assets/images/service-icon-01.png" alt="card image">
                                    <h4 class="card-title">Our Mission</h4>
                                    <br>
                                  <span><i class="fa fa-arrow-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Our Mission</h4> -->
                                    <p class="card-text" style="padding-top: 50px;">To Provide Accessible,Affordable And Reliable Quality Health Care</p>
                                    <br>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                  <img class=" img-fluid" src="assets/images/service-icon-02.png" alt="card image">
                                    <h4 class="card-title">Our Vision</h4>
                                    <br>
                                    <span><i class="fa fa-arrow-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Our Vision</h4> -->
                                    <p class="card-text" style="padding-top: 50px;">To Be A Centre Of Excellence For Quality HealthCare Provision To All ..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                  <img class=" img-fluid" src="assets/images/service-icon-03.png" alt="card image">
                                    <h4 class="card-title">Why Choose Us</h4>
                                    <br>
                                  <span><i class="fa fa-arrow-down"></i></span>  
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">GGGG</h4> -->
                                    <p class="card-text">We are the recommended healthcare partner for leading hospitals</p>
                                    <br>
                                    <p class="card-text">We are affordable</p>
                                    <br>
                                    <p class="card-text">We are accountable</p>
                                    <br>
                                    <p class="card-text">We are accessible</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
          

        </div>
    </div>
</section>
<!-- Team -->


  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="assets/images/Wa.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2> <em>About Us</em></h2>
            <p style="font-weight:900px;font-size:20px">Mid-Town Reoproductive Health and Youth Friendly Clinic is a Level 2 Medical Clinic regulated by Nursing Council of Kenya (Private Practice) in Biashara ward, Nakuru County.
              <br> 
              <br> 
              Our facility was awarded for being one of the best Reproductive health Champion facilty in the country.
              <br>  
              <br>  
              It opened its door in 2011</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog -->
<div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2 style="color: #5ff300;">Get To Know More About Us</h2>
          </div>
        </div>
        <!-- <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="assets/images/blog-dec.png" alt="">
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a routerLink="/abortion"><img src="assets/images/Wd.png" alt="Workspace Desktop"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i style="color: gray;" class="fa fa-calendar"></i> 24 Mar 2021</li>
                  <!-- <li><i class="fa fa-users"></i> TemplateMo</li>
                  <li><i class="fa fa-folder"></i> Branding</li> -->
                </ul>
                <a routerLink="/abortion"><h4>MY JOURNEY IN OFFERING SAFE ABORTION SEVICES TO WOMEN AND GIRLS </h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...</p>
                <div class="main-blue-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i style="color: gray;" class="fa fa-calendar"></i> 18 Mar 2021</span>
                  <a routerLink="/abortion"><h4>MY JOURNEY IN OFFERING SAFE ABORTION SEVICES TO WOMEN AND GIRLS </h4></a>
                  <p>Part 2</p>
                </div>
                <div class="right-image">
                  <a routerLink="/abortion"><img src="assets/images/Wk.png" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i style="color: gray;" class="fa fa-calendar"></i> 14 Mar 2021</span>
                  <a routerLink="/gyna"><h4>Why Reproductive Health</h4></a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a routerLink="/gyna"><img src="assets/images/Wb.png" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i style="color: gray;" class="fa fa-calendar"></i> 06 Mar 2021</span>
                  <a routerLink="/Circumcision"><h4>Voluntary Male Circumcision </h4></a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a routerLink="/Circumcision"><img src="assets/images/Wc.png" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2><em>Feel Free To Send Us A Message</em></h2>
            <hr style="height: 8px;width: 60px;background-color: rgb(238, 52, 114);">
            <hr style="height: 8px;width: 100px;color:rgb(238, 52, 114);">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores</p> -->
            <div class="phone-info">
              <h4>For any enquiry, Call Us: 
                <span><a href="tel:+254113327116"><i class="fa fa-phone"></i> 0700000000</a></span>
              </h4>
              <br>
              <h4>Or Text Us On Whatsapp
                <span><a href="https://wa.me/254718128000?text=hi"><i class="fa fa-whatsapp"></i> </a></span>
                <!-- <span><i class="fa fa-whatsapp light"></i><a href="#"></a></span> -->

              </h4>
   
              <br>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31918.129565408995!2d36.03513218355295!3d-0.2928755989825673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18298de9dae41545%3A0x18341d2da524ba80!2sBiashara%2C%20Nakuru!5e0!3m2!1sen!2ske!4v1669215249231!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <div *ngIf="FormSubmit" class="col-lg-6 wow fadeInRight " data-wow-duration="0.5s" data-wow-delay="0.25s">
            <div class="card" style="padding-top: 100px;" class="rounded">
              <div class="shadow-lg p-3 mb-5 rounded" style="height: 200px;width:450px;background-color: rgb(251, 25, 74);">
                  <h2 style="color: white;font-size: 22px; padding-top: 20px;">Message Sent Successfuly.<br>
                    <br>  
                   Thank You,
                   <br>
                   <br>
                   For Choosing Mid-Town
                  </h2> 
              </div>
           
            </div>
          </div>
        <div *ngIf="!FormSubmit" class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form [formGroup]="Formcontact" id="contact" action="" method="post" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" formControlName="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" formControlName="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" formControlName="email" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="tel" formControlName="tel" name="tel" id="tel"  placeholder="Your Phone Number" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message"formControlName="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" [disabled]="Formcontact.invalid" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
        <!-- message -->
        
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <!-- <p>© Copyright 2021 Space Dynamic Co. All Rights Reserved.  -->
          
          <!-- <br>Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p> -->
        </div>
      </div>
    </div>
  </footer>


